.navbar-container {
    display: grid;
    border: 1px solid black;
    padding: 10px;
}

#mainTitle {
    text-align: center;
}

:root {
    --menu-bg-color: rgb(159, 159, 20);
}

.menucontainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: var(--menu-bg-color);
    padding: 10px;
    text-align: center;
}

.todoContainer{
    padding: 16px;
    background: #fafafa;
    max-width: 100%;
    margin: 0 auto; 
}

.todoContainer table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
}

.todoContainer th, .todoContainer td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}

.todoContainer thead {
    background-color: #f0f0f0;
}

/* Add this for hiding elements */
/* Use `.invisible` to hide elements without removing them from the DOM */
.invisible {
    display: none;
}